In [1]:
import pandas as pd
import numpy as np

In [2]:
intakes = pd.read_csv('aac_intakes.csv')
int_out = pd.read_csv('aac_intakes_outcomes.csv')
outcomes = pd.read_csv('aac_outcomes.csv')

## Is there an area where more pets are found?

The found location was used and the value counts function was used to count the total number of pets found per location. This was then sliced to sort and show the top 5 locations.

Top 5 Locations:
* 1 - Austin (TX) - 14443 animals found
* 2 - Outside Jurisdiction - 948 animals Found
* 3 - Travis (TX) - 921 animals Found
* 4 - 7201 Levander Loop in Austin (TX) - 517 animals found
* 5 - Del Valle (TX) - 411 animals found

In [3]:
number_per_location = intakes['found_location'].value_counts()

print(f'''The top 5 locations for found pets were:
{number_per_location[:5]}''')

The top 5 locations for found pets were:
found_location
Austin (TX)                          14443
Outside Jurisdiction                   948
Travis (TX)                            921
7201 Levander Loop in Austin (TX)      517
Del Valle (TX)                         411
Name: count, dtype: int64

## What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

Average number of animals found over the 12 month period in 2015 was 1558, rounded down to the nearest int.

The number of pets found per location was used, this was then compared against the intake year of 2015. From here, the number of intakes was counted again and indexed against the month in numbers.

The top 3 months with the highest number of animals found were:
* 6 - June - 2188 animals found
* 5 - May - 2092 animals found
* 10 - October - 1738 animals found

In [4]:
number_per_location = intakes['found_location'].value_counts()
intake_2015 = int_out[int_out['intake_year'] == 2015]
intake_per_month_2015 = intake_2015['intake_month'].value_counts().sort_index()

print(f''' The breakdown of intakes per month in 2015
{intake_per_month_2015}''')

 The breakdown of intakes per month in 2015
intake_month
1     1199
2     1120
3     1345
4     1539
5     2092
6     2188
7     1634
8     1717
9     1590
10    1738
11    1409
12    1128
Name: count, dtype: int64

In [5]:
average_per_month = len(intake_2015) / len(intake_per_month_2015)

print(f'''The average number of pets found each month in 2015 was:
{average_per_month}''')

The average number of pets found each month in 2015 was:
1558.25

## What is the ratio of incoming pets vs. adopted pets?

The total intakes was calculated by using then length of all intakes. From here the total adopted pets was calculated by comparing the outcome against the absolute value of "Adoption", the length of the outcome was used. To find the total ratio the total intakes were then divded by the total adoption.

Total adoption rate was 2.34.

In [6]:
total_intakes = len(intakes)
total_adopted = outcomes[outcomes['outcome_type'] == 'Adoption']
total_adoptions = len(total_adopted)

total_ratio = (total_intakes / total_adoptions)
print(f'The total ratio of intake vs adopted pets was {total_ratio}')

The total ratio of intake vs adopted pets was 2.3424573498480954

## What is the distribution of the types of animals in the shelter?

The total intakes per animal was determined by using the value counts function for "Animal Type" and then broken down into total values counted and animal type.

Total intakes per animal are:
* Dog:          45743
* Cat:          29659
* Other:         4434
* Bird:           342
* Livestock:        9

In [7]:
total_intakes = len(intakes)

In [8]:
total_intakes_per_animal = intakes['animal_type'].value_counts()
print(f'''The breakdown per animal in the shelter is:
{total_intakes_per_animal}''')

The breakdown per animal in the shelter is:
animal_type
Dog          45743
Cat          29659
Other         4434
Bird           342
Livestock        9
Name: count, dtype: int64

## What are the adoption rates for specific breeds?

To determine the adoption rates for specific breeds of dogs, on intake the absolute value of "Dogs" was used. From here the total number of breeds was calculated and sorted and sliced to keep the top 5 values. On outcome, the absolute values of "Dogs" and "Adoption" were used to find all dogs, that had been adopted. The total number of adoptions per breed were then calculated. From here the total ratio per breed was calculated into a percentage, but dividing the adoption breed vs top 5 breed and sorted to the top 5.

Adoption rates for top 5 breeds:
* Australian Cattle Dog Mix    54.93
* Labrador Retriever Mix       48.92
* German Shepherd Mix          46.97
* Chihuahua Shorthair Mix      46.71
* Pit Bull Mix                 36.41

In [9]:
total_intakes_dogs = intakes[intakes['animal_type'] == 'Dog']
breed_counts = total_intakes_dogs['breed'].value_counts()
top_5_breeds = breed_counts.sort_values(ascending=False)[:5]
total_outcomes_dogs = int_out[(int_out['animal_type'] == 'Dog') & (int_out['outcome_type'] == 'Adoption')]
adoption_breed_count = total_outcomes_dogs['breed'].value_counts()
total_ratio_per_breed = ((adoption_breed_count / top_5_breeds) * 100).round(2)

print(f'''The adoption rates for the top 5 intake breeds are:
{total_ratio_per_breed.sort_values(ascending=False)[:5]}''')

The adoption rates for the top 5 intake breeds are:
breed
Australian Cattle Dog Mix    54.93
Labrador Retriever Mix       48.92
German Shepherd Mix          46.97
Chihuahua Shorthair Mix      46.71
Pit Bull Mix                 36.41
Name: count, dtype: float64

## What are the adoption rates for different colorings?

The colour was used as the absolute value to calculate the total intake of colours, then sorted and sliced to show only the top 5. The total adopted numbers were compared against an absolute value of "Adoption" on the outcome type. A dictonary was created the top 5 colours by itterating over the top 5 colour index to store the adoption rate ratio.

Adoption rates for the top 5 colours:
Black/White: 45.73%
Black: 41.09%
Brown Tabby: 42.66%
Brown: 22.19%
White: 37.98%

In [10]:
intake_color = intakes['color'].value_counts()
top_5_color = intake_color.sort_values(ascending=False)[:5]

adopted_animals = outcomes[outcomes['outcome_type'] == 'Adoption']
adoption_color = {}

for color in top_5_color.index:
    total_animal_color = intake_color[color]
    adopted_animal_color = adopted_animals[adopted_animals['color'] == color].shape[0]
    adoption_rate_color = (adopted_animal_color / total_animal_color) * 100
    adoption_color[color] = adoption_rate_color


top_5_color

color
Black/White    8340
Black          6710
Brown Tabby    4487
Brown          3618
White          2849
Name: count, dtype: int64

In [11]:
print('Adoption rates for the top 5 colours:')
for color, adoption_color in adoption_color.items():
    print(f'{color}: {adoption_color:.2f}%')

Adoption rates for the top 5 colours:
Black/White: 45.73%
Black: 41.09%
Brown Tabby: 42.66%
Brown: 22.19%
White: 37.98%

## About how many animals are spayed/neutered each month?

The sex upon intake was compared against the absolute values of "Intact Male" & "Intact Female" and stored whether one or the other was true. From here the intake month was determined by using the date time month function to convert the intake datetime into a usable value, this was then sorted and grouped by month. This calculated on the assumption that all intact animals brought into the shelter would be spayed/neutured upon intake.

Average number of spays/neuters per month are: 4112

The busiest months being May - October.

In [12]:
intake_intact = intakes[(intakes['sex_upon_intake'] == 'Intact Male') | (intakes['sex_upon_intake'] == 'Intact Female')].copy()
intake_intact['month'] = pd.to_datetime(intake_intact['datetime']).dt.month
intact_per_month = intake_intact.groupby('month').size()
spayed_neutured_per_month = intact_per_month
average = intact_per_month.sum() / 12

print(f'''The estimated number of spays/neuters per month are: 
with the average being: {average:.0f}
{spayed_neutured_per_month}
''')

The estimated number of spays/neuters per month are:
with the average being: 4112
month
1     3550
2     3233
3     3546
4     3535
5     5214
6     5008
7     4298
8     4132
9     4196
10    4873
11    4107
12    3656
dtype: int64

## How many animals in the shelter are repeats? Which animal was returned to the shelter the most?

The total number of repeats to the shelter was 13976. With the animal ID A721033 a Rat Terrier Mix called 'Lil Bit' was returned the most at 13 times. This was achieved by counting the number of duplicates in the intakes database. From here, the length of repeats was take to show the total number of repeated animals within the shelter. After this the most returned was filtered to show the maximum number of duplicates per animal ID.

In [13]:
duplicated_animals = intakes[intakes.duplicated(subset='animal_id',keep=False)]

total_repeats = len(duplicated_animals)

total_repeats

13976

In [14]:
return_counts = duplicated_animals['animal_id'].value_counts()
most_returned = return_counts[return_counts == return_counts.max()].index
most_returned_count = return_counts.max()

most_returned_animal = intakes[intakes['animal_id'].isin(most_returned)][:1]

most_returned_animal

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
6393,2 years,A721033,Dog,Rat Terrier Mix,Tricolor/Brown Brindle,2018-03-07T08:27:00.000,2018-03-07T08:27:00.000,4111 South 1St in Austin (TX),Normal,Public Assist,Lil Bit,Neutered Male

In [15]:
most_returned_count

13

## What are the adoption rates for the following age groups?

The ages within the outcomes database were converted into months too allow for easier extraction. The ages were then placed into buckets depending on the number of months within the specified table. From here the outcome of Adoption was filtered out and the number of values counted per age group. This was then compared against the values counted for all outcome types per age bucket to determine their rates of adoption.

* baby: 4 months and less: 41.941527
* young: 5 months - 2 years: 53.619247
* adult: 3 years - 10 years: 33.673191
* senior: 11+: 21.234454

In [16]:
def convert_age_to_months(age_str):
    if isinstance(age_str, str):
        parts = age_str.split()
        age = int(parts[0])
        unit = parts[1].lower()
        
        # Convert to months
        if 'year' in unit:
            age_in_months = age * 12
        elif 'week' in unit:
            age_in_months = age / 4
        elif 'month' in unit:
            age_in_months = age
        else:
            return 'unknown'
        # Classify age group
        if age_in_months <= 4:
            return 'baby'
        elif 5 <= age_in_months <= 24:
            return 'young'
        elif 25 <= age_in_months <= 120:
            return 'adult'
        else:
            return 'senior'
    else:
        return 'unknown'

outcomes['age_groups'] = outcomes['age_upon_outcome'].apply(convert_age_to_months)
adoptions = outcomes[outcomes['outcome_type'] == 'Adoption']
number_of_adoptions = adoptions['age_groups'].value_counts()
total_outcomes = outcomes['age_groups'].value_counts()
adoption_rates = (number_of_adoptions / total_outcomes) * 100
print(f'''The adoption rates per {adoption_rates}:''')

The adoption rates per age_groups
young      41.941527
baby       53.619247
adult      33.673191
senior     21.234454
unknown     0.384986
Name: count, dtype: float64:

## If spay/neuter for a dog costs \\$100 and a spay/neuter for a cat costs \\$50, how much did the shelter spend in 2015 on these procedures?

The total number of intact intakes for cats and dogs were extracted by comparing the animal type and sex upon intake, with a copy of the df. From here the year of intake was converted into a datetime year, that could be extracted and compared. This year was compared to 2015 and the total was multipled by the procedure cost to provide the total cost of procedures for both cats and dogs.

The total cost for procedures in 2015 was $1405750.

In [17]:
dog_procedure_cost = 100
cat_procedure_cost = 50
dogs_spayed_neutered = len(intake_2015[intake_2015['animal_type'] == 'Dog'])
cats_spayed_neutered = len(intake_2015[intake_2015['animal_type'] == 'Cat'])

total_cost = (dog_procedure_cost * dogs_spayed_neutered) + (cat_procedure_cost * cats_spayed_neutered)

print(f'''The total cost for procedures in 2015 was ${total_cost}''')

The total cost for procedures in 2015 was $1405750